
    <div class="portfolio">
        <div class="portfolio__img">
            <img src="img/portfolio.png" alt="portfolio">
        </div>
        <div class="portfolio__content">
            <div class="portfolio__card">
                <div class="portfolio__element">
                    <div class="portfolio__project-title">Project here</div>
                    <div class="portfolio__project-description">My creative ability is difficult to measure because it can manifest in so many surprising</div>
                </div>
            </div>
            <div class="portfolio__card">
                <div class="portfolio__element">
                    <div class="portfolio__project-title">Project here</div>
                    <div class="portfolio__project-description">My creative ability is difficult to measure because it can manifest in so many surprising</div>
                </div>
            </div>
            <div class="portfolio__card">
                <div class="portfolio__element">
                    <div class="portfolio__project-title">Project here</div>
                    <div class="portfolio__project-description">My creative ability is difficult to measure because it can manifest in so many surprising</div>
                </div>
            </div>
        </div>
    </div>