
    <div class="about">
        <div class="about__img"><img src="img/about.png" alt="About"></div>
        <div class="about__content">
            <div class="about__square-img"><img src="img/square-2.png" alt="Square"></div>
            <div class="about__description">
                <div class="about__description-bold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis velit, magni enim praesentium aliquid similique
                </div>
                <hr style=" border: none;
                margin-left: 0;
                margin-top: 10px;
                width: 300px;
                background-color: #10CAB7;
                height: 2px;"/>
                    
                <div class="about__description-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis velit, magni enim praesentium aliquid simili</div>
            </div>
        </div>
    </div>