<div class="contact">
    <div class="contact__img"><img src="img/contact.png" alt="Contact"></div>
    <div class="contact__content">        
            <p class="contact__header">Feel free to drop us a line at:</p>
            <p class="contact__email">leonagency@mail.com</p>
            <p class="contact__social-networks">Find us on social networks: 
                <i class="fas fa-basketball-ball" style="margin-left: 10px;"></i>
                <i class="fab fa-google-plus-g" style="margin-left: 10px;"></i>
                <i class="fab fa-twitter" style="margin-left: 10px;"></i>
            </p>
    </div>
</div>
