<div class="steps">
    <div class="steps__item">
        <i class="far fa-lightbulb fa-4x icon"></i>
        <div class="steps__step-header">Tell us your idea</div>
        <div class="steps__step-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis velit, magni enim praesentium aliquid</div>
    </div>
    <div class="steps__item">
        <i class="fas fa-magic fa-4x icon"></i>
        <div class="steps__step-header">We Will Do All The Work</div>
        <div class="steps__step-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis velit, magni enim praesentium aliquid</div>
    </div>
    <div class="steps__item">
        <i class="fas fa-globe fa-4x icon"></i>
        <div class="steps__step-header">Your Product Is Worldwide</div>
        <div class="steps__step-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque blanditiis velit, magni enim praesentium aliquid</div>
    </div>
</div>