@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Libre+Franklin:wght@400;900&display=swap');

$blue-color:#10CAB7;
$grey-color:#2F4957;
$grey-background-color:#FAFAFA;

%imgBlocksStyle{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

body{
    font-family: 'Karla', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
}

hr{
    border: none;
    margin-left: 0;
    margin-top: 10px;
    width: 300px;
    background-color: #10CAB7;
    height: 2px;
}

.blue-icon{color: $blue-color;}

.grey-icon{
    margin-left: 10px;
    color: #666565;
}

img{
    max-width:100%;
    height:auto;
}

@import '../templates/partials/header/header';
@import '../templates/partials/steps/steps';
@import '../templates/partials/services/services';
@import '../templates/partials/portfolio/portfolio';
@import '../templates/partials/about/about';
@import '../templates/partials/contact/contact';
@import '../templates/partials/footer/footer';